<%- include('includes/head', { pageTitle: '에러 발생' })  %>
</head>
<body>
  <%- include('includes/header')  %>
  <main>
    <h1>인증되지 않음</h1>
    <p>당신은 인증되지 않았습니다.</p>
    <p><a class="btn" href="/">안전한 페이지로 돌아가기</a></p>
  </main>
<%- include('includes/footer')  %>