<%- include('includes/head', { pageTitle: '에러 발생' })  %>
</head>
<body>
  <%- include('includes/header')  %>
  <main>
    <h1>무엇인가 잘못된 거 같습니다.</h1>
    <p>안타깝게도 문제가 발생했습니다. 나중에 다시 시도해 주세요.</p>
    <p><a class="btn" href="/">안전한 페이지로 돌아가기</a></p>
  </main>
<%- include('includes/footer')  %>