<%- include('../../shared/includes/head', { pageTitle: '모든 주문' })  %>
</head>
<body>
  <%- include('../../shared/includes/header')  %>
  <main>
    <h1>모든 주문</h1>
  </main>
<%- include('../../shared/includes/footer')  %>