<%- include('../../shared/includes/head', { pageTitle: '모든 주문' }) %>
<link rel="stylesheet" href="/styles/orders.css">
<script  src="/scripts/order-management.js"></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <%- include('../../shared/includes/order-list') %>
  </main>
</body>