<%- include('../../shared/includes/head', { pageTitle: '모든 제품' })  %>
</head>
<body>
  <%- include('../../shared/includes/header')  %>
  <main>
    <h1>모든 제품</h1>
    <p>제품 목록</p>
  </main>
<%- include('../../shared/includes/footer')  %>