<%- include('../../shared/includes/head', { pageTitle: '새로운 제품 추가' })  %>
<link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
  <%- include('../../shared/includes/header')  %>
  <main>
    <h1>새로운 제품 추가</h1>
    <%- include('includes/product-form', { submitPath: '/admin/products', product: { title: '', summary: '', price: '', description: '' }, imageRequired: true }) %>
  </main>
<%- include('../../shared/includes/footer')  %>