<%- include('../../shared/includes/head', { pageTitle: '제품 업데이트' })  %>
<link rel="stylesheet" href="/styles/forms.css">
<script defer src="/scripts/image-preview.js"></script>
</head>
<body>
  <%- include('../../shared/includes/header')  %>
  <main>
    <h1>제품 업데이트</h1>
    <%- include('includes/product-form', { submitPath: '/admin/products/' + product.id, product: product, imageRequired: false }) %>
  </main>
<%- include('../../shared/includes/footer')  %>