<%- include('../includes/head', { pageTitle: '가입하기' })  %>
</head>
<body>
  <%- include('../includes/header')  %>
  <main>
    <h1>Create New Account</h1>
    <form action="" method="">

    </form>
  </main>
<%- include('../includes/footer')  %>